@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sacramento&display=swap');

body {
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  line-height: 1;
  color: #3db2ff;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  color: #3db2ff;
}

.middle-container .mine {
  width: 10rem;
  border-radius: 40%;
  margin: 50px;
}
.middle-container {
  margin: 100px 0;
}

.gunung {
  max-width: 100%;
  height: auto;
}
.top-container {
  background-color: #ffedda;
  position: relative;
  padding-top: 100px;
}
.awan-atas {
  position: absolute;
  right: 300px;
  top: 30px;
}
.awan-bawah {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.csgo {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.pubg {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

h3 {
  color: #3db2ff;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.intro {
  width: 30%;
  margin: auto;
}

.skills {
  padding-top: 20px;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.bottom {
  margin: 50px auto;
}

.BUTTON_WEB {
  background: #3db2ff;
  background-image: -webkit-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -moz-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -ms-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -o-linear-gradient(top, #3d94f6, #1e62d0);
  background-image: -webkit-gradient(to bottom, #3d94f6, #1e62d0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: 'Montserrat';
  font-size: 25px;
  font-weight: 100;
  padding: 17px;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_WEB:hover {
  background: #3d94f6;
  border: solid #337fed 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.footer-link {
  text-decoration: none;
  color: #11999e;
  margin-left: 40px;
}

.nama {
  color: white;
}
